service vendor.xiaomi_device_script /vendor/bin/init.xiaomi.device.sh
    class early_hal
    user root
    group root
    oneshot

# Audio
on property:ro.vendor.xiaomi.series=ulysse
    setprop vendor.audio.mixer_xml.path /vendor/etc/ulysse_mixer_paths_mtp.xml
    setprop vendor.audio.platform_info_xml.path /vendor/etc/ulysse_audio_platform_info_intcodec.xml
on property:ro.vendor.xiaomi.device=land
    setprop vendor.audio.mixer_xml.path /vendor/etc/land_mixer_paths_qrd_sku1.xml
    setprop vendor.audio.platform_info_xml.path /vendor/etc/land_audio_platform_info_intcodec.xml
on property:ro.vendor.xiaomi.device=prada
    setprop vendor.audio.mixer_xml.path /vendor/etc/prada_mixer_paths_mtp.xml
    setprop vendor.audio.platform_info_xml.path /vendor/etc/prada_audio_platform_info_intcodec.xml
on property:ro.vendor.xiaomi.device=riva
    setprop vendor.audio.mixer_xml.path /vendor/etc/riva_mixer_paths_qrd_sku2.xml
    setprop vendor.audio.platform_info_xml.path /vendor/etc/riva_oreo_audio_platform_info_intcodec.xml
on property:ro.vendor.xiaomi.device=rolex
    setprop vendor.audio.mixer_xml.path /vendor/etc/rolex_mixer_paths_qrd_sku2.xml
    setprop vendor.audio.platform_info_xml.path /vendor/etc/riva_oreo_audio_platform_info_intcodec.xml
on property:ro.vendor.xiaomi.device=santoni
    setprop vendor.audio.mixer_xml.path /vendor/etc/santoni_mixer_paths_qrd_sku1.xml
    setprop vendor.audio.platform_info_xml.path /vendor/etc/santoni_audio_platform_info_intcodec.xml

# Baseband
on property:ro.vendor.xiaomi.device=santoni
    enable vendor.baseband-sh
on property:ro.vendor.xiaomi.series=wt8917
    enable vendor.baseband-sh

# Camera
service vendor.land_qcamerasvr /system/vendor/bin/land_mm-qcamera-daemon
    disabled
    class late_start
    user camera
    group camera system inet input graphics
    writepid /dev/cpuset/system-background/tasks

service vendor.prada_qcamerasvr /system/vendor/bin/prada_mm-qcamera-daemon
    disabled
    class late_start
    user camera
    group camera system inet input graphics
    writepid /dev/cpuset/system-background/tasks

service vendor.ulysse_qcamerasvr /system/vendor/bin/ulysse_mm-qcamera-daemon
    disabled
    class late_start
    user camera
    group camera system inet input graphics
    writepid /dev/cpuset/system-background/tasks

service vendor.wingtech_qcamerasvr /system/vendor/bin/wingtech_mm-qcamera-daemon
    disabled
    class late_start
    user camera
    group camera system inet input graphics
    writepid /dev/cpuset/system-background/tasks

on property:init.svc.vendor.land_qcamerasvr=running
    exec /bin/sleep 1s
    restart vendor.camera-provider-2-4

on property:init.svc.vendor.prada_qcamerasvr=running
    exec /bin/sleep 1s
    restart vendor.camera-provider-2-4

on property:init.svc.vendor.ulysse_qcamerasvr=running
    exec /bin/sleep 1s
    restart vendor.camera-provider-2-4

on property:init.svc.vendor.wingtech_qcamerasvr=running
    exec /bin/sleep 1s
    restart vendor.camera-provider-2-4

on property:ro.vendor.xiaomi.device=riva
    setprop ro.hardware.camera wingtech
    stop qcamerasvr
    enable vendor.wingtech_qcamerasvr

on property:ro.vendor.xiaomi.device=rolex
    setprop ro.hardware.camera wingtech
    stop qcamerasvr
    enable vendor.wingtech_qcamerasvr

on property:ro.vendor.xiaomi.series=ulysse
    setprop ro.hardware.camera ulysse
    stop qcamerasvr
    enable vendor.ulysse_qcamerasvr

on property:ro.vendor.xiaomi.device=land
    setprop ro.hardware.camera land
    stop qcamerasvr
    enable vendor.land_qcamerasvr

on property:ro.vendor.xiaomi.device=prada
    setprop ro.hardware.camera prada
    stop qcamerasvr
    enable vendor.prada_qcamerasvr

on property:ro.vendor.xiaomi.device=santoni
    setprop ro.hardware.camera wingtech
    stop qcamerasvr
    enable vendor.wingtech_qcamerasvr

# Fingerprint
service vendor.goodix_script /vendor/bin/init.goodix.sh
    class late_start
    user system
    group system
    oneshot
    disabled

on property:ro.vendor.xiaomi.series=wt8937
    enable vendor.goodix_script
on property:ro.vendor.xiaomi.device=prada
    enable vendor.goodix_script

# HVDCP
on property:ro.vendor.xiaomi.series=wt8917
    stop vendor.hvdcp_opti
on property:ro.vendor.xiaomi.series=ulysse
    stop vendor.hvdcp_opti

# IR
on property:ro.hardware.consumerir=led
    chown system system /sys/class/leds/infrared/transmit
    chown system system /sys/class/leds/infrared/brightness
    restart vendor.ir-hal-1-0

on property:ro.vendor.xiaomi.series=wt8937
    setprop ro.hardware.consumerir led
on property:ro.vendor.xiaomi.device=rolex
    setprop ro.hardware.consumerir led

on property:ro.vendor.xiaomi.device=prada
    chown system system /dev/lirc0
    setprop ro.hardware.consumerir lirc
    restart vendor.ir-hal-1-0

on property:ro.vendor.xiaomi.series=ulysse
    chown system system /dev/lirc0
    setprop ro.hardware.consumerir lirc
    restart vendor.ir-hal-1-0

on property:ro.vendor.xiaomi.device=riva
    chown system system /dev/spidev7.1
    setprop ro.hardware.consumerir spidev
    restart vendor.ir-hal-1-0

# LiveDisplay
on boot
    chown root root /sys/devices/virtual/graphics/fb0/hbm
    chmod 0000 /sys/devices/virtual/graphics/fb0/hbm

# OverlayFS
on post-fs
    # Netmgrd
    mount overlay overlay /vendor/etc/data ro lowerdir=/vendor/overlayfs/common/etc/data/:/vendor/etc/data

on property:ro.vendor.xiaomi.device=land
    # Sensor
    mount overlay overlay /vendor/etc/sensors ro lowerdir=/vendor/overlayfs/wt8937/etc/sensors/:/vendor/etc/sensors

on property:ro.vendor.xiaomi.device=prada
    # Sensor
    mount overlay overlay /vendor/etc/sensors ro lowerdir=/vendor/overlayfs/prada/etc/sensors/:/vendor/etc/sensors

on property:ro.vendor.xiaomi.device=riva
    # Camera
    mount overlay overlay /vendor/etc/camera ro lowerdir=/vendor/overlayfs/riva/etc/camera/:/vendor/etc/camera
    # Sensor
    mount overlay overlay /vendor/etc/sensors ro lowerdir=/vendor/overlayfs/riva/etc/sensors/:/vendor/etc/sensors

on property:ro.vendor.xiaomi.device=rolex
    # Camera
    mount overlay overlay /vendor/etc/camera ro lowerdir=/vendor/overlayfs/rolex/etc/camera/:/vendor/etc/camera
    # Sensor
    mount overlay overlay /vendor/etc/sensors ro lowerdir=/vendor/overlayfs/rolex/etc/sensors/:/vendor/etc/sensors

on property:ro.vendor.xiaomi.device=santoni
    # Camera
    mount overlay overlay /vendor/etc/camera ro lowerdir=/vendor/overlayfs/santoni/etc/camera/:/vendor/etc/camera
    # Sensor
    mount overlay overlay /vendor/etc/sensors ro lowerdir=/vendor/overlayfs/wt8937/etc/sensors/:/vendor/etc/sensors

on property:ro.vendor.xiaomi.device=ugg
    # Sensor
    mount overlay overlay /vendor/etc/sensors ro lowerdir=/vendor/overlayfs/ulysse/etc/sensors/:/vendor/etc/sensors

on property:ro.vendor.xiaomi.device=ugglite
    # Sensor
    mount overlay overlay /vendor/etc/sensors ro lowerdir=/vendor/overlayfs/ulysse/etc/sensors/:/vendor/etc/sensors
