service vendor.fps_hal.ulysse /vendor/bin/hw/android.hardware.biometrics.fingerprint@2.1-service.xiaomi_ulysse
    # "class hal" causes a race condition on some devices due to files created
    # in /data. As a workaround, postpone startup until later in boot once
    # /data is mounted.
    class late_start
    user system
    group system input uhid
    disabled

# property:ro.vendor.xiaomi.device=ugg == enable fingerprint
# property:ro.vendor.xiaomi.device=ugglite == disable fingerprint

on nonencrypted && property:ro.vendor.xiaomi.device=ugg
    setprop ro.hardware.fingerprint ugg_fpc
    setprop ro.hardware.gf_fingerprint ugg
    start vendor.fps_hal.ulysse

on property:ro.vendor.xiaomi.device=ugglite
    stop vendor.fps_hal.ulysse

on property:ro.vendor.fingerprint.state=0
    stop vendor.fps_hal.ulysse

on property:ro.vendor.fingerprint.state=1
    setprop ro.boot.product.hardware.sku fingerprint

on load_bpf_programs && property:init.svc.vendor.fps_hal.ulysse=running
    wait_for_prop ro.vendor.fingerprint.done 1
